
<div class="row">
  <div class="col-md-3">
  <%= link_to 'Back', posts_path, class: 'btn btn-secondary mb-3' %>
    <div class="card">
     <h3 class="card-title text-center">
        Editing Post
      </h3>
      <div class="card-body">
      <%= render 'form', post: @post %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
  <div class="mb-3">
    <%= form_with(model: [@post, @element], html: { class: 'float-left mr-2'}) do |form| %>
    <%= form.hidden_field :element_type, value: 'paragraph' %>
      <%= form.submit "Paragraph", class: 'btn btn-info' %>
    <% end %>

     <%= form_with(model: [@post, @element]) do |form| %>
    <%= form.hidden_field :element_type, value: 'image' %>
      <%= form.submit "Image", class: 'btn btn-info' %>
    <% end %>
  </div>
  <div class="card">
    <div class="card-body pt-5">
     <% @post.elements.each do |element| %>
    <% if element.persisted? %>
    <% if element.paragraph? %>
    <div class="mb-4 p-3 paragraph">
    <div class="paragraph-content">
    <% if element.content.present? %>
      <%= element.content %>
      <% else %>
      Click to add content
      <% end %>
    </div>
    <div class="paragraph-form d-none">
     <%= form_with(model: [@post, element]) do |form| %>
        <%= form.rich_text_area :content %> <br>
        <%= form.submit "Save", class: 'btn btn-primary mt-2' %>
        <a href="#" class='cancel btn btn-secondary mt-2'>Cancel</a>
      <% end %>
      </div>
    </div>
    <% elsif element.image? %>
    <div class="image">
    <% if element.image.present? %>
      <%= image_tag(element.image) %> 
      <% else %>
      <%= form_with(model: [@post, element]) do |form| %>
        <%= form.file_field :image %> <br>
        <%= form.submit "Save", class: 'btn btn-primary mt-2' %>
        <a href="#" class='cancel btn btn-secondary mt-2'>Cancel</a>
      <% end %>
      <% end %>
    </div>
    <% end %>
    <% end %>
    <% end %>
    </div>
  </div>
  </div>
</div>
